body {
    background-image: url("../Resource/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    width: 50%;
    height: 100vh;
}

div {
    width: 600px;
    height: 300px;
    background-color: rgb(83, 206, 255);
    position: relative;
    top: 150px;
    box-shadow: 30px -15px teal;
    margin-left: 60vh;
}

label,
input,
button {
    width: auto;
    position: relative;
    top: 100px;
    margin: auto
}

@font-face {
    font-family: 'Old';
    src: url('Fonts/m04.TTF');
}

button{
    
    align-items: center;
    display: flex;
}
h1,
p,
a {
    text-align: center;
    font-family: 'Old';
    font-size: 15px;
}

input {
    width: 200px;
}

h1 {
    position: absolute;
    top: 25px;
    left: 300px
}

a {
    position: relative;
    top: 108px;
}

img {
    position: absolute;
    top: 25px;
    left: 240px;
    width: 50px;
}
/*                                       Posible añadido en la pagina principal
.move_motion {
    position: absolute !important;
    top:150px;
    width: 40px !important;
    height: 40px !important;
    background: rgb(255, 0, 0) !important;
    animation:move 2.5s infinite  !important;
    -webkit-animation:move 2.5s infinite  !important;
    border-radius: 50%  !important;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

@keyframes move {
    0% {
        top: 0px;
        background: red;
        width: 100px;
    }

    100% {
        top: 200px;
        background: yellow;
        width: 300px;
    }
}*/