@import url(‘https://fonts.googleapis.com/css?family=Poppins’);

:root{
    --red: #ea0c0c;
    --black: #000000;
    --light-color: #181818;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: var(--light-color);
}

body{
    background-color: var(--light-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
}

.heading{
    text-align: center;
    color: var(--red);
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: 0;
        padding: .25em 0 .325em;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,255,255,.5);

    /* Clip Background Image */

        background: url(img/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

    /* Animate Background Image */

        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
}
span{
    font: 0 4em/1 "Poppins", sans-serif;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,255,255,.5);

    /* Clip Background Image */

        background: url(img/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

    /* Animate Background Image */

        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
  }

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
    
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--black);
    color: var(--red);
    letter-spacing: .1rem;
}

header .logo{
  color: #fff;;
  font-size: 2.4rem;
  font-weight: bolder;
}

header .logo i{
    color: var(--red);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--red);
}

header .iconos i,
header .iconos a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background: var(--red);
}

header .iconos i:hover,
header .iconos a:hover{
    color: var(--red);
    background: #fff;
    transform: rotate(360deg);
}

header .iconos #menu-bars{
    display: none;
}

.home{
    padding: 0;
}

.home .box{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box{
    justify-content: flex-start;
}

.home .box.second{
    justify-content: flex-end;
}

.home .box .content{
    width: 50rem;
}

.home .box .content h3{
    font-size: 6rem;
    color: #fff;
    padding-top: .5rem;
    text-transform: uppercase;
}

.home .box .content P{
    line-height: 2;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem 0;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.681);
    border-radius: 12px;
    border: 1px solid rgb(255, 5, 5);
    /*box-shadow:
       inset 0 -12em 8em rgb(0, 0, 0),
             0 0  0 2px rgb(244, 151, 151),
             0.3em 0.3em 1em rgb(130, 11, 11);*/
}

/*seccion anime*/

.anime{
    padding: 5rem;
}

.anime .box{
    width: 302px;
    height: 168px;
    background-size: contain;
}

.anime .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.anime .content P{
    font-size: 1.2rem;
    color: #fff;
    width: 300px;
    text-decoration: none;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(81, 73, 73, 0.109);
    border-radius: 5px;
    border: 0.5px solid rgb(255, 116, 116);
}

 /*Seccion peliculas */

.action{
    padding: 5rem;
}

.action .box{
    width: 302px;
    height: 168px;
    background-size: contain;
}

.action .content h3{
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.action .content P{
    font-size: 1.2rem;
    color: #fff;
    width: 300px;
    text-decoration: none;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(81, 73, 73, 0.109);
    border-radius: 5px;
    border: 0.5px solid rgb(255, 116, 116);
}

/*Seccion child */

.child{
    padding: 5rem;
}

.child .box{
    width: 302px;
    height: 168px;
    background-size: contain;
}

.child .content h3{
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.child .content P{
    font-size: 1.2rem;
    color: #fff;
    width: 300px;
    text-decoration: none;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(81, 73, 73, 0.109);
    border-radius: 5px;
    border: 0.5px solid rgb(255, 116, 116);
}


/*Seccion familiar */

.family{
    padding: 5rem;
}

.family .box{
    width: 302px;
    height: 168px;
    background-size: contain;
}

.family .content h3{
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.family .content P{
    font-size: 1.2rem;
    color: #fff;
    width: 300px;
    text-decoration: none;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(81, 73, 73, 0.109);
    border-radius: 5px;
    border: 0.5px solid rgb(255, 116, 116);
}

/* Copyright de jajas xD*/
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright .logo{
    color: var(--red);
    font-size: 2.1rem;
    font-weight: bolder;
}

.copyright p{
    font-size: 0.9rem;
    color: var(--red);
    font-size: 2rem;
}



.video-container video{
    width: 100%;
    aspect-ratio: 16/9;
}

.about{
    margin-top: 2rem;
    color: #fff;
}

.about h2{
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 4px solid var(--red);
    color: #ffffff;
}

.about p{
    display: inline-flex;
    font-size: 2rem;
    color: #ffffff;
    text-align: justify;
    text-decoration: none;
}

.screenshots h2{
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 4px solid var(--red);
    color: #ffffff;
    margin-top: 1.6rem;
}

.screenshots-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 10px;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.screenshots-content img{
    width: 100%;
    height: 219.94px;
    object-fit: cover;
    margin-top: 1.6rem;
}

.download{
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.download h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 1.6rem 0;
    color: #fff;
}

.downlad-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin-bottom: 2rem;
}

.downlad-links a{
    text-align: center;
    background: var(--red);
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 500;
}

.downlad-links a:hover{
    background: var(--black);
    color: var(--red);
    transition: 0.3s all linear;
}




/*medias querys*/
@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    } 
}

@media(max-width: 768px){
    header .iconos #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--red);
    }
}

@media(max-width: 468px){
    html{
        font-size: 50%;
    }
}