*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: darkslateblue;
    background-size: cover;
}
.wellcome{
    width: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;
    height: 600px !important; 

}
header {
    z-index: 100;
    background-color: transparent;
    position: fixed;
    height: 50px;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color .5s;
}
img#logo{
    float:left;
    padding: 5px;
    transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}
nav{
    display: table;
    margin: auto;
    height: 30px;
    transition: margin-left .5s;
}
ul{
    display: inline;
    float: left;
    list-style: none;
}

ul li{
    float: left;
    padding: 5px;
}
ul a{
    color: azure;
    text-decoration: none;
}
ul li a{
    display:flex;
    padding: 10.5px 10px;
}
ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
ul li:hover{
    background-color: darkslateblue;
}
ul li:hover>ul{
    display:grid;
    background-color: darkslateblue;
}
.titulo{
    color: white;
    padding: 20px 10px;
    margin: 0;
}
.destacados{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
}
.swiper{
    padding: 0 0 30px 00;
    max-width: 99%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.swiper-slide img {
    display: flex;
    object-fit: cover;
    overflow: hidden;
    flex-wrap: nowrap;
    padding: 5px;
}
.swiper-navBtn{
    color:cyan;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color:blueviolet;
}
.swiper-button-next{
    right: 0.5;
}
.swiper-button-prev{
    left: 0.5;
}
/* * */
.novedades{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
.nov{
    position: relative;
    overflow: hidden;
}
/* Section */
.nov section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Profile */
.nov section .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.nov section.show .content{
    display: none;
}
.nov-img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background: blueviolet;
    padding: 2px;
    margin-bottom: 10px;
}
.nov-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.content .name{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: azure;
}
.content .boton{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background: blueviolet;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content .boton:hover{
    background: violet;
}
.content .boton button{
    background: none;
    display: inline-block;
    outline: none;
    border: none;
    font-size: 15px;
    color: white;
    pointer-events: none;
}
.nov-content .popup-outer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: scale(1.2);
    transition: opacity 0.2s 0s ease-in-out, 
                transform 0.2s 0s ease-in-out;
}
.nov-content.show .popup-outer{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.nov-content .popup-box{
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    max-width: 380px;
    width: 100%;
}
.nov-content .popup-box .popup-text{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.popup-box .popup-text .text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.popup-box .popup-text .text .name{
    font-size: 14px;
    font-weight: 400;
}
.nov-content .popup-box img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.nov-content .popup-box p{
    min-height: 140px;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    resize: none;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: whitesmoke;
}
.nov-content .popup-box .boton{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 8px;
}
.popup-box .boton button{
    outline: none;
    border: none;
    margin-left: 8px;
    background: #6f93f6;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}
.boton button.cancel{
    background: #f082ac;
}
.boton button.cancel:hover{
    background: #ec5f95;
}
